.dice {
  width: 80px;
  height: 80px;
  display: inline-block;  
  margin: 5px;
  border-radius: 15px;
  padding: 10px;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.regular-dice{
  background: white;
}

.double-score-dice {
  transition: 0.5s;
  background: #ffeb7d;
}

.triple-score-dice {
  transition: 0.5s;
  background: #86d9ff;
}

.empty {
  border: 2px solid white;
  width: 78px;
  height: 78px;
  display: inline-block;  
  margin: 5px;
  border-radius: 15px;
  padding: 10px;
}

.dot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:black;
}

.one-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-face {
  display: flex;   
  justify-content : space-between;
}

.two-face .dot:nth-of-type(2), .three-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.three-face .dot:nth-of-type(2) {
  align-self: center;
}

.four-face {
  display: flex;
  justify-content: space-between;
}

.four-face .diceColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five-face .diceColumn:nth-of-type(2) {
  justify-content: center;
}

.empty-dice-slot {
  border: white;
}